---
const { title = "Sistema de Ventas" } = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>

	<body class="bg-gray-100 min-h-screen flex flex-col">
		<main class="flex-1">
		<slot />
		</main>
	</body>
</html>