---
import AdminLayout from '../../layouts/AdminLayout.astro';
---

<AdminLayout title="Dashboard Admin">
    <h1 class="text-2xl font-bold mb-4">Bienvenido Admin</h1>
    <p>Resumen de ventas, cierres y clientes con deuda.</p>
</AdminLayout>